%h1= "#{@name}'s blog"

%b
  %p i guess ill just add some paragraphs and shit. 
  %p oh look here is another paragraph, and shit. 

  - @posts.each do |t|
    %h4= t.title
    %p= t.body

  - @posts.each do |post|
    %h4= link_to post.title, post_path(post)